<div class="light-widget">
    <form>
        <fieldset>
            <legend>position</legend>
            <div><label class="w27">X</label><input class="light-position-x" /></div>
            <div><label class="w27">Y</label><input class="light-position-y" /></div>
            <div><label class="w27">Z</label><input class="light-position-z" /></div>
        </fieldset>
        <fieldset>
            <legend>color</legend>
            <input type="text" class="light-color">
        </fieldset>
        <fieldset>
            <legend>visibility</legend>
            <label>&nbsp;show light geometry&nbsp;</label><input type="checkbox" class="light-visible">
            <label>&nbsp;&nbsp;enable light&nbsp;</label><input type="checkbox" class="light-enable" checked="checked">
        </fieldset>
    </form>
</div>