.box-sizing-border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.linear-gradient-background (@defaultColor: #333, @topColor: #000, @bottomColor: #444) {
    background: @defaultColor;
    background: -webkit-linear-gradient(top, @topColor 0%,@bottomColor 100%);
    background: linear-gradient(top, @topColor 0%,@bottomColor 100%);
} 

.element-inside {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.28) inset;
    border-bottom: 1px solid rgba(255,255,255,0.18);
    border-top: 1px solid rgba(0,0,0,0.35);
}

.element-outside {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.28) ;
    border-top: 1px solid rgba(255,255,255,0.18);
    border-bottom: 1px solid rgba(0,0,0,0.35);
}

.transition (...) {
    transition: @arguments;
    -webkit-transition: @arguments;
}

.transition (transform, @rest...) {
    transition: transform @rest;
    -webkit-transition: -webkit-transform @rest;
}

.transform (...) {
    transform: @arguments;
    -webkit-transform: @arguments;
}
