@import "normalize";
@import "font-awesome";
@import "mixins";

// ------------------ Colors ----------------------- 

@TextDark: #333;
@TextLight: #ccc;
@TextBlue: rgb(50, 200, 225);
@BackgroundColorDark: rgba(35, 35, 35, 0.6);
@BackgroundColorLight: rgba(245, 245, 245, 0.9);
@BackgroundSignalBlue: rgba(50, 200, 225, 0.7);
@BackgroundInactive: rgba(45, 45, 45, 0.4);
@ButtonInactive: rgba(30, 30, 30, 0.5);
@BackgroundScrollBarsDark: rgba(70, 70, 70, 0.6);
@BackgroundScrollBarsActiveDark: rgba(70, 70, 70, 0.85);
@BackgroundScrollBarsLight: rgba(170, 170, 170, 0.6);
@BackgroundScrollBarsActiveLight: rgba(170, 170, 170, 0.85);


// ------------------ Measurements --------------------

@NavWidth: 250px;

// ---------------------- fonts ----------------------

@TextFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@HeaderTextFont: "Tenor", @TextFont;

// ------------------- basic style ------------------- 


@font-face {
font-family: 'Tenor';
font-style: normal;
font-weight: 400;
src: url("../font/TenorSans.ttf") format("truetype");
} 

h1, h2 {
    font-family: @HeaderTextFont;
}

h1, h2, h3 {
    font-weight:normal;
    small {
        color: @TextLight;
    }
}

html {
    height: 100%;
}

body {
    background: #222 url(../images/background.png) repeat;
    font-family: @TextFont;
    color: @TextLight;
    line-height: 1.4em;
    text-align: right;
    min-width: 700px;
    overflow: hidden;
    height: 100%;
}

a {
    text-decoration: none;
    color: @TextBlue;
    font-weight: bold;

    /* &:hover { */
        /* color: @TextLight; */
    /* } */

}


// ---------------- page layout ---------------

#draft-frame {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-shadow: 0 -1px #000;
    font-family: @HeaderTextFont;

    & > h1 {
        font-size: 800%;            
        color: #262626;
        text-shadow: 0 1px #484848;
        opacity: 0.6;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        margin-top: -50px;
        width: 800px;
        margin-left: -400px;
        z-index: -1;
    }

    & > article {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 400px;
        margin-top: -200px;
        width: 600px;
        margin-left: -300px;


        h1 {
            font-size: 500%;            
            color: @TextBlue;
        } 

        h1, h2 {
            padding-bottom: 20px;
        }

        h2 {
            font-size: 220%;
        }

        h3 {
            font-size: 170%;
            line-height: 150%;
        }
    }
}

button#menu-button {
    position: absolute;
    top: 16px;
    right: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-size: 0px 0px;
    border: 0;
    text-shadow: 0 -1px rgba(255, 255, 255, 0.25);
    z-index: 1000;
    line-height: 1em;
    color: @BackgroundSignalBlue;

    &.show-info {
        color: @ButtonInactive; 
    }

    &.disabled:hover {
        color: @BackgroundSignalBlue;
    }
    
    &.show-info:hover {
        color: @BackgroundSignalBlue;
    }

    &:active {
        text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    }

    &.disabled {
        color: @ButtonInactive;
    }

    i {
        line-height: 1em;
    }
}

header {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: @BackgroundColorDark;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
    
    h1 {
        .box-sizing-border-box;
        width: 40%;
        display: inline-block;
        padding-left: 30px;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
        font-size: 1.7em;
        line-height: 1em;
    }

    nav {
        .box-sizing-border-box;
        display: inline-block;
        width: 59%;
        text-align: right;
        padding-right: 90px;
        height: 3.2em;
        // line-height: 2.5em;
        vertical-align: middle;

        a {
            list-style: none;
            color: @TextLight;
            display: inline-block;
            font-weight: normal;
            line-height: 1.5em;
            vertical-align: middle;
            padding: 5px 15px;
            border-radius: 3px;
            background-color: @BackgroundInactive;
            .element-outside;

            i {
                opacity: 0.8;
            }
        }

        a + a {
            margin-left: 10px;
        }
    }
}

#draft-menu {
    position: relative;
    z-index: 10;
    margin: 0;
    display: inline-block;
    float: right;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.3);

    .box-sizing-border-box;
    overflow: hidden;
    background-color: @BackgroundColorDark;
    text-align: left;
    width: @NavWidth;
    height: 100%;

    a {
        padding: 20px;
        display: block;
        text-align: right;
        font-weight: bold;
        color: @TextLight;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        
        &:active {
            border-top: 1px solid rgba(0,0,0,0.4);
        }
    }
    
    a + a {
        border-top: 1px solid rgba(255,255,255,0.18);
    } 

    .scroll-up-button, .scroll-down-button {
        background-color: @BackgroundScrollBarsDark;

        &:hover {
            background-color: @BackgroundScrollBarsActiveDark;
        }
    }
}

#status-message {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: @BackgroundColorDark;
    // border-top: 1px solid rgba(255,255,255,0.15);
    box-shadow: 2px -2px 3px rgba(0,0,0,0.3);
    z-index: 5;
    text-align: left;
    max-width: 600px;

    p {
        padding: 0;
        margin: 0;
    }
}


// -------------- effects and interactions --------------

button {
    .transition(color, 0.5s);
}

nav a {
    .transition(background-color, 0.5s);

    &.selected {
        background-color: @BackgroundSignalBlue;
    }

    &:hover {
        background-color: @BackgroundSignalBlue;
    }

    &:active {
        .element-inside;
    }
}

header, canvas {
    opacity: 1;
    .transition(opacity, 1s);

    &.disabled, &.loading {
        opacity: 0;
    }
}

#draft-menu {
    .transform(translateX(0));
    .transition(transform, 1s);
    &.disabled {
        .transform(translateX(@NavWidth));
    }
}

.scroll-up-button, .scroll-down-button {
    left: 0;
    padding: 10px;
    .transition(background-color, 0.5s);
}

.scroll-up-button {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

.scroll-down-button {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2); 
}
