.light-widget .ui-spinner {
    width: 80px;
}

.light-widget fieldset div+div {
    margin-top: 9px;
}

.light-widget .light-color {
    box-shadow: 1px 1px 3px #333 inset;
    padding: 9px;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
}
